<div class="header">
  <a href="/" class="return-top"><%="#{current_user.nickname}さんの捕獲状況"%></a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="targets">
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      フンゴオンゴ
      <i class="material-icons">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      ソーン
      <i class="material-icons">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      アンテサンサン
      <i class="material-icons">control_point</i>
    </div>
  </div>
</div>