<div class="header">
  <a href="/" class="return-top"><%="#{current_user.nickname}さんの捕獲状況"%></a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="targets">
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      キラービー
      <i class="material-icons">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      バイトバグ
      <i class="material-icons">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      ワスプ
      <i class="material-icons">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      ネビロス
      <i class="material-icons">control_point</i>
    </div>
  </div>
</div>