<div class="header">
  <a href="/" class="return-top">ゲスト</a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="targets">
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      ディノニクス
      <i class="material-icons">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      イピリア
      <i class="material-icons">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      ラプトゥル
      <i class="material-icons">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      メリュジヌ
      <i class="material-icons">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      シュメルケ
      <i class="material-icons">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      ヨーウィー
      <i class="material-icons">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      ザウラス
      <i class="material-icons">control_point</i>
    </div>
  </div>
</div>