<div class="header">
  <a href="/" class="return-top">ゲスト</a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="targets">
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      鉄巨人
      捕獲数:<%= Tetsukyojin.count%>
      <%# <i class="material-icons">control_point</i> %>

      <%= form_tag('/giants', method: :post) do %>
        <label>
          <h1>
            <i class="material-icons">control_point</i>
          </h1>           
          <input type="submit" value="SENT" class="submit-btn">
        </label>
      <% end %>
      
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      ウルフラマイター（青）
      捕獲数:<%= BlueUruhuramaiter.count%>
      <i class="material-icons" type="button">control_point</i>
    </div>
    <div class="target">
      <i class="material-icons">remove_circle_outline</i>
      ウルフラマイター（赤）
      <i class="material-icons">control_point</i>
    </div>
  </div>
</div>