<div class="header">
  <a href="/" class="return-top"><%="#{current_user.nickname}さんの捕獲状況"%></a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="race">
    <a href="/wolfs" >オオカミ一覧</a>
  <div>
  <div class="race">
    <a href="/lizards" >トカゲ一覧</a>
  <div>
  <div class="race">
    <a href="/birds" >鳥一覧</a>
  <div>
  <div class="race">
    <a href="/insects" >羽虫一覧</a>
  <div>
  <div class="race">
    <a href="/imps" >小鬼一覧</a>
  <div>
  <div class="race">
    <a href="/eyeballs" >目玉一覧</a>
  <div>
  <div class="race">
    <a href="/puddings" >プリン一覧</a>
  <div>
  <div class="race">
    <a href="/elementals" >エレメンタル一覧</a>
  <div>
  <div class="race">
    <a href="/shells" >甲羅一覧</a>
  <div>
  <div class="race">
    <a href="/dragons" >竜一覧</a>
  <div>
  <div class="race">
    <a href="/mushrooms" >キノコ一覧</a>
  <div>
  <div class="race">
    <a href="/bombs" >ボム一覧</a>
  <div>
  <div class="race">
    <a href="/horns" >ツノ一覧</a>
  <div>
  <div class="race">
    <a href="/giants" >鉄巨人一覧</a>
  <div>
</div>