<div class="header">
  <a href="/" class="return-top">ゲスト</a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="race">
    <a href="/wolfs" class="wolfs">オオカミ</a>
  <div>
  <div class="race">
    <a href="/lizards" class="lizards">トカゲ</a>
  <div>
  <div class="race">
    <a href="/birds" class="birds">鳥</a>
  <div>
  <div class="race">
    <a href="/insects" class="insects">羽虫</a>
  <div>
  <div class="race">
    <a href="/imps" class="imps">小鬼</a>
  <div>
  <div class="race">
    <a href="/eyeballs" class="eyeballs">目玉</a>
  <div>
  <div class="race">
    <a href="/puddings" class="puddings">プリン</a>
  <div>
  <div class="race">
    <a href="/elementals" class="elementals">エレメンタル</a>
  <div>
  <div class="race">
    <a href="/shells" class="shells">甲羅</a>
  <div>
  <div class="race">
    <a href="/dragons" class="dragons">竜</a>
  <div>
  <div class="race">
    <a href="/mushrooms" class="mushrooms">キノコ</a>
  <div>
  <div class="race">
    <a href="/bombs" class="bomb">ボム</a>
  <div>
  <div class="race">
    <a href="/horns" class="horns">ツノ</a>
  <div>
  <div class="race">
    <a href="/giants" class="giants">鉄巨人</a>
  <div>
</div>