<div class="header">ゲスト</div>
<div class="contents">
  <div class="background-contents"></div>
  <div class="area">
    <a href="/areas" class="btn-square-so-pop">地域制覇の捕獲状況</a>
      <%# <button type="button">エリア別の捕獲状況</button> %>
  </div>
  <div class="species">
    <a href="/species" class="btn-square-so-pop">種族制覇の捕獲状況</a>
      <%# <button type="button">種族別の捕獲状況</button> %>
  </div>
</div>