<div class="header">
  <a href="/" class="return-top"><%="#{current_user.nickname}さんの捕獲状況"%></a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="field">ビサイド島<div>
  <div class="field">キーリカ島<div>
  <div class="field">ミヘン街道<div>
  <div class="field">キノコ岩街道<div>
  <div class="field">ジョゼ街道<div>
  <div class="field">雷平原<div>
  <div class="field">マカラーニャ<div>
  <div class="field">ビーカネル島<div>
  <div class="field">ナギ平原<div>
  <div class="field">谷底の洞窟<div>
  <div class="field">ガガゼト山<div>
  <div class="field">シンの体内<div>
  <div class="field">オメガ遺跡<div>
</div>