<div class="header">
  <a href="/" class="return-top"><%="#{current_user.nickname}さんの捕獲状況"%></a>
</div>
<div class="contents">
  <div class="background-contents">
  </div>
  <div class="race">
    <a href="/beside" >ビサイド島</a>
  <div>
  <div class="race">
    <a href="/kirika" >キーリカ島</a>
  <div>
  <div class="race">
    <a href="/michen" >ミヘン街道</a>
  <div>
  <div class="race">
    <a href="/mushrock" >キノコ岩街道</a>
  <div>
  <div class="race">
    <a href="/jose" >ジョゼ街道</a>
  <div>
  <div class="race">
    <a href="/kaminari" >雷平原</a>
  <div>
  <div class="race">
    <a href="/macarania" >マカラーニャ</a>
  <div>
  <div class="race">
    <a href="/beekanel" >ビーカネル島</a>
  <div>
  <div class="race">
    <a href="/nagi" >ナギ平原</a>
  <div>
  <div class="race">
    <a href="/valley" >谷底の洞窟</a>
  <div>
  <div class="race">
    <a href="/gagazet" >ガガゼト山</a>
  <div>
  <div class="race">
    <a href="/shin" >シンの体内</a>
  <div>
  <div class="race">
    <a href="/omega" >オメガ遺跡</a>
  <div>
</div>