.race{
  z-index: 2;
  a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: block;
    width: 100vw;
    // margin-bottom:5px ;
    // margin-top: 5px;
    margin: 10px auto;
  }
}
.targets{
  margin: auto;
  font-weight: bold;
}
.target{
  padding: 10px 30px 10px 30px;
  margin: 0px 20px 0px 20px;
  z-index: 2;
  display: flex;
}
.target-m{
  padding: 5px 30px 5px 30px;
  margin: 0px 20px 0px 20px;
  z-index: 2;
  display: flex;
}
.target-n{
  padding: 7px 30px 7px 30px;
  margin: 0px 20px 0px 20px;
  z-index: 2;
  display: flex;
}
.target-v{
  padding: 8px 30px 8px 30px;
  margin: 0px 20px 0px 20px;
  z-index: 2;
  display: flex;
}
.target-g{
  padding: 1px 30px 1px 30px;
  margin: 0px 20px 0px 20px;
  z-index: 2;
  display: flex;
}
.target-s{
  padding: 8px 30px 8px 30px;
  margin: 0px 20px 0px 20px;
  z-index: 2;
  display: flex;
}
form{
  z-index: 3;
}
.submit-btn{
  display: none;
}
.count{
  padding-top: 10px;
  margin-right: 20px;
  width: 50vw;
}